<p><strong>Title</strong>

<%= @article.title %>

</p>
#accesing the article Title parameters to find the article ID number (from article controller show method)

<p><strong>
Text:
</strong>

<%= @article.text %>

</p>
